.container {
   width: 100%;
   background: var(--color_white);
   position: relative;
}
.container,
.container::before,
.container::after {
   /* Add shadow to distinguish sheets from one another */
   box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.15);
}

.container::before,
.container::after {
   content: "";
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   height: 100%;
   background-color: rgb(250, 250, 250);
}

/* Second sheet of container */
.container::before {
   width: 98%;
   top: 5px;
   z-index: -1;
}

/* Third sheet of container */
.container::after {
   top: 9px;
   width: 97%;
   z-index: -2;
}
